/*css for _CropImage*/
.jimu-crop-image{
  width: 100%;
  height: 100%;
  border: 1px solid #d2dae2;
}

.jimu-crop-image .crop-section{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  background: #fafafc;
}

.jimu-crop-image .loading-image{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.jimu-crop-image .viewer-box{
  position: relative;
  margin: auto;
}

.jimu-crop-image .viewer-content{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.jimu-crop-image .viewer-box .viewer-content .viewer-image{
  position: absolute;
}

.jimu-crop-image .viewer-box .base-image{
  position: absolute;
  opacity: 0.3;
  cursor: move;
  -ms-filter: "Alpha(opacity=40)";
  filter: Alpha(opacity=40);
}

.jimu-crop-image .hide-status{
  visibility: hidden;
}

.jimu-crop-image .controller{
  position: absolute;
  width: 238px;
  height: 30px;
  padding: 8px 24px;
  left: 0;
  right: 0;
  bottom: -35px;
  color: #fff;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.jimu-crop-image .controller .zoom-out,
.jimu-crop-image .controller .zoom-in {
  width: 14px;
  height: 14px;
  margin: auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 14px;
  cursor: pointer;
  border-radius: 10px;
  background: #518dca;
  cursor: pointer;
}

.jimu-crop-image .controller .zoom-out{
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
}

.jimu-crop-image .controller .slider{
  width: 100%;
  position: relative;
}

.jimu-crop-image .controller .slider .button{
  background: #fff;
  border: 1px solid #d2dae2;
  border-radius: 7px;
  height: 14px;
  margin-left: -6px;
  width: 14px;
  position: absolute;
  left: 0;
  cursor: move;
}

.jimu-crop-image .controller .slider .horizontal{
  border-bottom: 2px solid #518dca;
  height: 7px;
}

.jimu-crop-image .controller .zoom-in{
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
}

.jimu-rtl .jimu-crop-image .controller .zoom-out{
  left: auto;
  right: 0;
}

.jimu-rtl .jimu-crop-image .controller .slider .button{
  left: 100%;
}

.jimu-rtl .jimu-crop-image .controller .zoom-in{
  left: 0;
  right: auto;
}